<h1>Editing post</h1>

<%= render 'form' %>
<p>
<strong>Categories in:</strong> 
	<% @post.categories.each do |category|%>
		<%= category.name + " | " %>
	<% end %>
</p>

<%= form_for [@post, Category.new] do |f| %>
  <p>
	<%= f.label :name, "New category name" %><br/>
	<%= f.text_area :name %>
  </p>
  
  <p>
    <%= f.submit "Add to category" %>
  </p>
<% end %>
<%= link_to 'Show', admin_post_path(@post), action: :show %> |
<%= link_to 'Back', admin_posts_path %>
