<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if admin_signed_in? %>
	Signed in as <%= current_admin.email %>
	<%= link_to "Sign out", destroy_admin_session_path, :method => :delete %>
<% else %>
	You are not signed in.
	<%= link_to "Sign up", new_admin_registration_path %>
	or
	<%= link_to "Sing in", new_admin_session_path %>
<% end %>
<p>
	Menu:
	<%= link_to "User posts view", posts_path %> ||
	<%= link_to "Admin posts view", admin_posts_path %> ||
</p>

<%= yield %>

</body>
</html>
